/* overall body settings -------------------------------------------------------------------------------- */
body {
    font-size: 22px;
    font-weight: 400;
    font-family: proxima-nova,sans-serif;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb))
}
a {
    color: #ff5355
}
h1,h2 {
    font-family: GTSuper;
    font-weight: 400;
}
h2 {
    font-size: 32px
}
h1 {
    font-size: 69px
}
p {
    font-size: 22px;
    font-weight: 300;
    font-family: proxima-nova,sans-serif
}

@media only screen and (max-width: 700px) {
    body {
        font-size:20px;
        font-weight: 400;
        font-family: proxima-nova,sans-serif
    }
    h1 {
        font-size: 36px;
        line-height: 34px
    }
    h2 {
        font-size: 24px;
        line-height: 24px
    }
    p {
        font-size: 18px
    }
    ul {
        margin-bottom: 3rem
    }
}


/* navigation settings -------------------------------------------------------------------------------- */
.Navigation_navigation__eSStv {
    height: 66px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 99;
    padding: 0 80px;
}
.Navigation_wrapper__yQJIS {
    max-width: 1600px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 66px
}
.Navigation_navlinks__uv5aW {
    display: flex;
}
.Navigation_navlinks__uv5aW a {
    height: 66px;
    line-height: 18px;
    display: grid;
    align-items: center;
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: all .25s ease-in-out;
    text-decoration: none;
    color: #011824;
    letter-spacing: 1.8px;
    text-align: center;
}
.Navigation_navlinks__uv5aW a:hover {
    border-bottom: 2px solid #ce0d2a;
    color: #ce0d2a
}
.Navigation_navlinks__uv5aW a.Navigation_active__1KqYp {
    border-bottom: 2px solid #ce0d2a
}
.Navigation_shadow__s3CYm {
    display: none
}
.Navigation_navlink__SUfAw {
    displaY: none
}

@media only screen and (max-width: 700px) {
    .Navigation_navigation__eSStv {
        height:66px;
        padding: 0 27px;
        box-shadow: none
    }
    .Navigation_navigation__eSStv .Navigation_wrapper__yQJIS {
        height: 66px
    }
    .Navigation_navlinks__uv5aW {
        display: block;
        position: fixed;
        width: 200px;
        height: calc(100vh - 60px);
        background-color: #fff;
        top: 66px;
        box-shadow: 0 3px 16px 0 rgba(0,0,0,.16);
        right: -100vw;
        transition: all .2s ease-in-out
    }
    .Navigation_navlinks__uv5aW a {
        font-size: 14px;
        text-align: right;
        height: 30px;
        margin-top: 20px
    }
    .Navigation_navigation__eSStv.Navigation_open__Z9JaI .Navigation_navlinks__uv5aW {
        right: 0; /* Make sidebar visible */
    }
    .Navigation_shadow__s3CYm {
        position: absolute;
        display: block;
        top: 0;
        width: 100vw;
        height: 66px;
        left: 0;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
        pointer-events: none
    }
    .Navigation_navlink__SUfAw {
        display: block;
        position: absolute;
        width: 90px;
        height: 66px;
        right: 0;
        top: 0
    }
    .Navigation_navlink__SUfAw:after,.Navigation_navlink__SUfAw:before {
        content: "";
        background-color: #ff5355;
        height: 1px;
        width: 35px;
        position: absolute;
        top: 34px;
        right: 31px
    }
    .Navigation_navlink__SUfAw:after {
        width: 17px;
        top: 45px
    }
}


/* main settings -------------------------------------------------------------------------------- */
.section {
    position: absolute;
    scroll-snap-align: start;
    min-height: 100vh;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
}

.background-video {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: 100%;
    height: 100%; /* Set height to 100% of its container */
    transform: translate(-50%, -50%);
    object-fit: cover; /* Ensures the video covers the full area, cropping as necessary */
    filter: brightness(60%) contrast(120%);
}

.video-overlay {
    position: fixed;
    top: 66px;
    left: 0;
    width: 100%;
    height: calc(100vh - 66px); /* Calculating height minus the top offset */
    background-color: rgba(2, 19, 41, 0.45);
    pointer-events: none; /* Allows interaction with the video beneath */
}


/* SECTION 1 -------------------------------------------------------------------------------- */
.section_1_back {
    left: 0px;
    right: 0px;
    top: 0vh; /* Start at the top of the viewport */
    position: absolute;
    height: 100vh;
    overflow: hidden; /* This prevents any overflow from the video or other content */
}
.section_1 {
    left: 80px;
    right: 80px;
    position: absolute;
    color: #000;
    height: 100vh; /* Height is specified to control the vertical space */
    display: flex; /* Using flexbox to center content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.section_1_title {
    text-align: center; /* Ensures text is horizontally centered */
    color: #fff; /* Ensures title is visible over the video */
    width: 100%; /* Ensures the title takes full width of the container for proper centering */
}
.colored-dot {
    color: #ff5355; /* Set the color to red, or choose another color as needed */
}


/* SECTION 2 -------------------------------------------------------------------------------- */
.section_2_back {
    left: 0px;
    right: 0px;
    top: 100vh; /* Starts immediately after section 1 */
    position: absolute;
    height: 150vh;
    background-color: #011824;
    z-index: 2; /* Ensures it stays behind other content but above the video */
}
.section_2 {
    left: 80px;
    right: 80px;
    position: absolute;
    color: #fff;
}
.title-line1 {
    max-width: 800px;
    height: 1px;         /* Thickness of the line */
    background-color: #fff; /* Color of the line, can be adjusted */
    border: none;        /* Ensures there are no borders */
    margin: 0;           /* Aligns the line with the start of the container */
}
.title-line2 {
    width: 50%;          /* Line extends halfway across the container */
    height: 1px;         /* Thickness of the line */
    background-color: #ff5355; /* Color of the line, can be adjusted */
    border: none;        /* Ensures there are no borders */
    right: 0;           /* Aligns the line with the start of the container */
}
.section_2_title {
    margin-top: 100px;
    color: #ff5355;
}
.section_2_text {
    max-width: 800px;
}
.about-button {
    display: inline-block; /* Makes the link behave like a button */
    color: #fff; /* White text */
    text-align: center; /* Center text inside the button */
    text-decoration: none; /* Removes underline from the link */
    font-size: 14px; /* Appropriate text size for button */
    margin-top: 20px; /* Space above the button */
    transition: all .2s ease-in-out;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.about-button:hover {
    color: #ff5355; /* Darker shade of black on hover for visual feedback */
}


/* SECTION 3 -------------------------------------------------------------------------------- */
.section_3_back {
    left: 80px;
    right: 80px;
    top: 180vh; /* Starts immediately after section 1 */
    position: absolute;
    height: 70vh;
    background-color: #fff;
    z-index: 2;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 10.2), 0 12px 48px rgba(0, 0, 0, 10.3); /* Enhanced shadow for visibility on dark background */
}
.section_3 {
    left: 60px;
    right: 60px;
    position: absolute;
    color: #000;
}
.section_3_title {
    margin-top: 100px;
}


/* SECTION 4 -------------------------------------------------------------------------------- */
.section_4_back {
    left: 0px;
    right: 0px;
    top: 250vh; /* Starts immediately after section 1 */
    position: absolute;
    height: 100vh;
    background-color: #011824;
}
.section_4 {
    left: 80px;
    right: 80px;
    position: absolute;
    color: #fff;
}
.section_4_title {
    margin-top: 100px;
    color: #ff5355;
}


/* SECTION 5 -------------------------------------------------------------------------------- */
.section_5_back {
    border-top: 0.5px solid #999;
    left: 0px;
    right: 0px;
    top: 350vh; /* Starts immediately after section 1 */
    position: absolute;
    height: 30vh;
    background-color: #011824;
}
.section_5 {
    left: 80px;
    right: 80px;
    position: absolute;
    color: #fff;
}
.section_5_title {
    margin-top: 80px;
    color: #ff5355;
}



/* FOOTER -------------------------------------------------------------------------------- */
@media only screen and (max-width: 600px) {
    .section_1, .section_2, .section_3_back, .section_4, .section_5 {
        left: 20px; /* Reduced left margin for better space utilization */
        right: 20px; /* Reduced right margin for better space utilization */
    }
}